---
import '../styles.css';
import Header from './Header.astro';
const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="page">
      <Header />

      <slot />

      <footer id="contacto">
        <div>Monckey Gamer · Venta de componentes PC · Minimalismo gamer</div>
        <div>¿Listo para mejorar tu setup? Contacto: hola@monckeygamer.com</div>
      </footer>
    </div>
  </body>
</html>
